<main class="container-fluid">
    <div class="row" *ngIf="loading">
        <div class="col-12 text-center">
            <h1>{{title}}</h1>
            <h1 class="display-1">Cargando. Espere un momento por favor</h1>
            <img src="assets/25.gif" alt="">
        </div>
    </div>
    <div *ngIf="!loading" class="row">
        <div class="col-12">
            <div class="text-center mt-2" *ngIf="!loading">
                <h2>{{title}}</h2>
                <h4>{{city}}, {{region_name}}, {{country_name}}<br> {{hora}}</h4>
                <h6>{{time}}</h6>
            </div>
        </div>
        <div class="col-12">
            <app-weather-detail [details]="detailsToday"></app-weather-detail>
        </div>

        <div *ngFor="let detalles of detailsNext;" class="col-12 col-md-6 my-2">
            <app-weather-detail [details]="detalles"></app-weather-detail>
        </div>

    </div>
</main>